<div class="container">
  <div class="row">

    <div class="col-lg-12 col-md-10 mx-auto">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Lista de Posts</h3>
        </div>
        <div class="panel-body">
          <div class="col-lg-12 col-md-10 mx-auto">
            <div class="post-preview" *ngFor="let post of Posts ">
              <a [routerLink]="['../post',post._id]">
                <h2 class="post-title">
                  {{post.titulo}}

                </h2>
                <h3 class="post-subtitle">
                  {{post.resumo}}
                </h3>
              </a>
              <p class="post-meta">Postado por
                <a href="#">{{post.autor}}</a> em {{post.criada_em | date:'medium' }}<a style="text-decoration: none" *ngIf="post.criada_em==null"> Desenvolvimento.</a>                </p>
              <div *ngIf="adicionarPost == false">
                <button class="btn btn-danger" [disabled]="editar" (click)="openDialogRemove(post)"><span class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-warning" (click)="Editar(post)"><span class="glyphicon glyphicon-edit"></span></button>
              </div>
            </div>
            <hr>
            <div class="clearfix ">
              <!-- <md-paginator #paginator [length]="3" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator> -->
              <!-- <a class="btn btn-secondary float-right" href="#">Mais Antigos &rarr;</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div name="nome" class="col-md-12">
  <div class="row ">
    <div class="col-lg-1"> </div>
    <div class="col-lg-10" *ngIf="adicionarPost == false">
      <htmleditor-component (AvisaPai)="CancelarEditar($event)" [editarPost]="editarPost"> </htmleditor-component>
    </div>
    <div class="col-lg-1"> </div>
  </div>
</div>

<br><br><br><br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <br>
          <br>
          <li class="list-inline-item">
            <a href="https://github.com/rafaelgov95/robotica" target="resource window">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
          </li>
        </ul>
        <p class="copyright text-muted">Projeto Coxim Robótica 2017</p>
      </div>
    </div>
  </div>
</footer>