<div class="col-lg-12 col-md-5 mx-auto">
    <div class="form-group">
        <label class="form-control-label" for="inputSuccess">CEP</label>
        <input type="text" class="form-control " [(ngModel)]="cep">
    </div>
    <button class="btn btn-info" (click)=buscacep()>Buscar CEP</button>
    <br>
</div>
<br>
<br>
<br>
<br>
<div class="col-lg-12 col-md-5 mx-auto">
    <h1> Cep:<p>{{resultCEP.cep}}</p></h1>
</div>

<!-- <h1> Logradouro:</h1> -->
<p>{{resultCEP.logradouro}}</p>
<!-- <h1> Complemento:</h1> -->
<p>{{resultCEP.complemento}}</p>
<!-- <h1> Bairro:</h1> -->
<p>{{resultCEP.bairro}}</p>
<!-- <h1> Localidade:</h1> -->
<p>{{resultCEP.localidade}}</p>
<!-- <h1>Uf:</h1> -->
<p>{{resultCEP.uf}}</p>
<!-- <h1> Unidade:</h1> -->
<p>{{resultCEP.unidade}}</p>
<!-- <h1> Ibge:</h1> -->
<p>{{resultCEP.ibge}}</p>
<!-- <h1> Gia:</h1> -->
<p>{{resultCEP.gia}}</p>