<form [formGroup]="HtmlEditor" (ngSubmit)="onSubmit(HtmlEditor.value)">
    <div class="form-group" [ngClass]="{' has-success':!formErrors.titulo,'has-danger':formErrors.titulo}">
        <label class="form-control-label" for="inputSuccess">Titulo</label>
        <input type="text" class="form-control " formControlName="titulo" id="inputSuccess" [ngClass]="{'form-control-success':!formErrors.titulo,'form-control-danger':formErrors.titulo}">
        <div *ngIf="formErrors.titulo" class="alert alert-danger">
            {{ formErrors.titulo }}
        </div>
    </div>
    <div class="form-group" [ngClass]="{' has-success':!formErrors.resumo,'has-danger':formErrors.resumo}">
        <label class="form-control-label" for="inputSuccess">Resumo</label>
        <input type="text" class="form-control" formControlName="resumo" id="inputSuccess" [ngClass]="{'form-control-success':!formErrors.resumo,'form-control-danger':formErrors.resumo}">
        <div *ngIf="formErrors.resumo" class="alert alert-danger">
            {{ formErrors.resumo}}
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="inputSuccess">Imagen Url</label>
        <input type="text" class="form-control" formControlName="imagen" id="inputSuccess">
    </div>
    <div>
        <table>
            <thead>
                              
            </thead>
            <tbody>
                <tr *ngFor="let entry of entries; let idx = index">
                    <td>{{ entry.description }}&nbsp;<br></td>
                
                    <td><input type="radio" formControlName="dev" [checked]="(idx === 0)"[value]="entry.value"></td>
                    
                </tr>

            </tbody>
        </table>

        <hr>
    </div>
    <ckeditor [formControl]="HtmlEditor.controls['texto']" debounce="1500" [config]="{height:'800px',extraPlugins: 'divarea'}"required> </ckeditor>
    <button [disabled]="!HtmlEditor.valid" type="submit" class="btn btn-warning btn-lg btn-block" *ngIf="editar==true">Update Mensagem</button>
    <button [disabled]="!HtmlEditor.valid" type="submit" class="btn btn-success btn-lg btn-block" *ngIf="editar==false">Enviar Mensagem</button>
</form>
<button (click)="cancelar()" class="btn btn-danger btn-lg btn-block" *ngIf="editar==true">Cancelar</button>

<button class="btn btn-secondary btn-lg btn-block" (click)="esconder=!esconder" *ngIf="esconder==true && HtmlEditor.controls['texto'].value!=undefined">Esconder Mensagem</button>
<button class="btn btn-secondary btn-lg btn-block" (click)="esconder=!esconder" *ngIf="esconder==false && HtmlEditor.controls['texto'].value!=''">Mostrar Mensagem</button>
<br><br><br>
<div [innerHtml]="HtmlEditor.controls['texto'].value | safeHtml" *ngIf="HtmlEditor.controls['texto'].value!=undefined && HtmlEditor.controls['texto'].value!='' && esconder!=false"></div>