
<header class="masthead">
  <div class="container" [ngStyle]="LOGO">
    
    <div class="row" >
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="col-md-12 site-heading" >
          <h1 style="text-shadow:2px 2px #000">Rafael Buscas</h1>
          <span class="subheading" style="font-size: 50px; text-shadow:2px 2px #000">O maior site de buscas de CEP e Encomendas do Correios do Brasil, venha buscar!! </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10 mx-auto">
      <div class="post-preview" >
    <app-dashboard></app-dashboard>
    
    </div>
  </div>
</div>
<hr>



<br><br><br><br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <br>
          <br>
          <li class="list-inline-item">
            <a href="https://github.com/rafaelgov95/robotica" target="resource window">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
          </li>
        </ul>
        <p class="copyright text-muted">Rafael Buscas 2017</p>
      </div>
    </div>
  </div>
</footer>